body {
  height:1000px;
}
.header {
  height:55px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  position: fixed;
  top: 0;
  left: 0;
  right: 0; 
  z-index: 100;
  background-color: #F1F0ED;
}
.About-Body {
  color: transparent;
  border-width: 55px 10px;
  z-index: 90;
}
img {
  height: 50px;
}

.left-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.middle-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav ul li {
  display: inline-block;
}
.middle-section li :hover {
  color:rgb(078, 042, 132);
}
ul {
  width: 100%;
  list-style-type: none;
  overflow-x: scroll;
  white-space: nowrap;
}
a {
  color: black;
  text-decoration: none;
}
/* you need both the a: and the .space inorder to get the effect*/ 
a:first-child {
  position: relative;
  margin-right: 10px;
}
.space:first-child:before {
  content: '-';
  position: absolute;
  left: 100%;
  margin-left: 5px;
  color: #000;
  cursor: text;
  pointer-events: none;
}
h2{
  color:rgb(078, 042, 132);
  text-align: center;
}
.head-liner {
  margin-top: 100px;
  font-size: medium;

}
p{
  margin-top: 20px;
  color: #000;
  text-align: center;
}
.image:hover{
  opacity: 0.8
}