*{
  margin: 0;
  padding: 0;
}

.loader {
  position: fixed;
  top: 0;
  left: 0;
  background: black;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.introduction{
  color: white;
  font-size: 20px;
  display: flex;
  text-align: center;
}

.disappear{
  animation: vanish 1s forwards; 
  animation-delay: 4s;
}
@keyframes vanish {
  100%{
    opacity: 0;
    visibility: hidden;
  }
}

